<div class="columns is-centered">
    <div class="column is-5-desktop is-7-tablet is-12-mobile">
        <div class="level">
            <div class="level-item">
                <img src="/assets/images/angular-logo.svg" width="72" height="55">
                <span class="subtitle is-3">dmin</span>
            </div>
        </div>
        <form action="" novalidate autocomplete="off">
            <div class="field">
                <label class="label">Usuario</label>
                <div class="control">
                    <input class="input" type="text"/>
                </div>
            </div>

            <div class="field">
                <label class="label">Contraseña</label>
                <div class="control">
                    <input class="input" type="password" />
                </div>
            </div>
            <div class=" field has-text-centered ">
                <button type="button " class="button is-dark" style="margin-top: 10px; ">Ingresar</button>
            </div>
        </form>
    </div>
</div>